<template name="account">
{{#contentFor "title"}}{{user.username}}的个人资料{{/contentFor}}
{{#contentFor "tools"}}
<a class="done item" href="#">
  <i class="md md-done"></i>
</a>
{{/contentFor}}
<form class="account" autocomplete = "off">
{{#each user.emails}}
<div class="field">
  <i class="md md-email"></i>
  <input type="email" value="{{address}}" placeholder="电子邮件">
  {{#unless verified}}<span>未验证</span>{{/unless}}
</div>
{{/each}}
<div class="field">
  <i class="md md-person"></i>
  <input type="text" name="name" value="{{user.profile.name}}" placeholder="姓名">
</div>
<div class="field">
  <i class="md md-phone"></i>
  <input type="tel" name="phone" value="{{user.profile.tel}}" placeholder="电话号码">
</div>
<div class="field">
  <i class="md md-place"></i>
  <input type="text" name="address" value="{{user.profile.address}}" placeholder="地址">
</div>
<input type="submit" value="更新">
</form>
</template>