<template name="login">
{{#contentFor "title"}}用户登录{{/contentFor}}
{{#contentFor "navigator"}}{{> launcher }}{{/contentFor}}
<form class="login">
  {{> field type="text" name="usernameOrEmail" icon="account-box" }}
  {{> field type="password" name="password" icon="lock" }}
  <div class="field">
    <input type="submit" value="{{t9n 'signIn'}}" />
  </div>
  <div class="message">
    {{t9n "dontHaveAnAccount"}}<a href="{{pathFor 'register'}}">点击注册</a>
  </div>
  <div class="sso">
    <hr />
    <div class="container">
      {{> weibo }}
      {{> wechat }}
    </div>
  </div>
</form>
</template>

<template name="weibo">
  <a class="weibo icon"></a>
</template>

<template name="wechat">
  <a class="wechat icon"></a>
</template>