<template name="login">
{{#contentFor "title"}}用户登录{{/contentFor}}
{{#contentFor "navigator"}}{{> launcher }}{{/contentFor}}
<form class="login">
  <div class="field">
    <i class="md md-account-box"></i>
    <input type="text" name="username" placeholder="{{t9n 'usernameOrEmail'}}" required />
  </div>
  <div class="field">
    <i class="md md-lock"></i>
    <input type="password" name="password" placeholder="{{t9n 'password'}}" required />
  </div>
  <div class="field">
    <input type="submit" value="{{t9n 'signIn'}}" />
  </div>
  <div class="message">
    {{t9n "dontHaveAnAccount"}}<a href="{{pathFor 'register'}}">点击注册</a>
  </div>
  <div class="sso">
    <hr />
    <div class="container">
      {{> weibo }}
      {{> wechat }}
    </div>
  </div>
</form>
</template>

<template name="weibo">
  <a class="weibo icon"></a>
</template>

<template name="wechat">
  <a class="wechat icon"></a>
</template>