<template name="profile">
{{#contentFor "title"}}个人资料{{/contentFor}}
{{#contentFor "tools"}}{{> profileTools}}{{/contentFor}}
<form class="account" autocomplete = "off">
{{#each emails}}
<div class="field">
  <i class="md md-email"></i>
  <input type="text" value="{{address}}" readonly>
</div>
{{/each}}
{{> field name="profile.name" type="text" value=profile.name icon="person"}}
{{> field name="profile.mobile" type="tel" value=profile.mobile icon="stay-primary-portrait"}}
{{> field name="profile.company" type="text" value=profile.company icon="domain"}}

<div class="field">
  <i class="md md-flag"></i>
  <label class="field-radio" for="reseller">
    <input type="radio" id="reseller" name="type" value="reseller" {{ checked "reseller" }}>
    {{t9n 'profile.reseller'}}
  </label>
  <label class="field-radio" for="repair">
    <input type="radio" id="repair" name="type" value="repair" {{ checked "repair" }}>
    {{t9n 'profile.repair'}}
  </label>
</div>

{{> field name="profile.address" type="text" value=profile.address icon="place"}}
{{> field name="profile.contact" type="tel" value=profile.contact icon="phone"}}
</form>
</template>

<template name="profileTools">
<a class="done item" href="#"><i class="md md-done"></i></a>
<a class="logout item" href="#"><i class="md md-exit-to-app"></i></a>
</template>