<template name="profile">
{{#contentFor "title"}}{{user.username}}的个人资料{{/contentFor}}
{{#contentFor "tools"}}
{{> profileTools}}
{{/contentFor}}
<form class="account" autocomplete = "off">
{{#each user.emails}}
<div class="field">
  <i class="md md-email"></i>
  <input type="text" value="{{address}}" readonly>
</div>
{{/each}}
<div class="field">
  <i class="md md-person"></i>
  <input type="text" name="name" value="{{user.profile.name}}" placeholder="姓名" autofocus>
</div>
<div class="field">
  <i class="md md-stay-primary-portrait"></i>
  <input type="tel" name="mobile" value="{{user.profile.mobile}}" placeholder="手机号码">
</div>
<div class="field">
  <i class="md md-domain"></i>
  <input type="text" name="company" value="{{user.profile.company}}" placeholder="公司名称">
</div>
<div class="field">
  <i class="md md-flag"></i>
  <!-- TODO: Use javascript to rewrite -->
  <div class="company type">
    <div class="type">
      <input type="radio" name="type" value="经销商">经销商
    </div>
    <div class="type">
      <input type="radio" name="type" value="修理厂">修理厂
    </div>
  </div>
</div>
<div class="field">
  <i class="md md-place"></i>
  <input type="text" name="address" value="{{user.profile.address}}" placeholder="公司详细地址">
</div>
<div class="field">
  <i class="md md-phone"></i>
  <input type="tel" name="phone" value="{{user.profile.tel}}" placeholder="联系电话">
</div>
<div class="field">
  <input type="button" name="logout" value="注销登录" >
</div>
</form>
</template>

<template name="profileTools">
<a class="done item" href="#">
  <i class="md md-done"></i>
</a>
</template>