form.login, form.register, form.account {
  .message {
    color: @hypnos-green;
  }
  a {
    text-decoration: underline;
  }
  .md {
    font-size: 1.5rem;
    padding-right: 1.5rem;
  }

  input + span {
    padding-left: 1rem;
  }
}