form {
  padding-top: 1rem;
  .display(flex);
  .flex-direction(column);
  &> * {
    margin: 1rem;
  }
  
  input {
    .appearance(none);
    display: block;
    outline: none;
    border: none;
    height: 2rem;
    font-size: 1rem;
    padding: .5rem;
    background-color: transparent;
  }

  input[type="text"], 
  input[type="password"], 
  input[type="search"],
  input[type="email"] {
    border-bottom: 1px solid lightgray;
    .transition(border-color @hypnos-transition-duration @hypnos-transition-time-function);
    &:focus {
      border-color: @hypnos-green;
    }
  }

  input[type="reset"], input[type="submit"] {
    padding: 0 1.5rem;
    border-radius: .2rem;
    font-size: .88rem;
    .invert-color();
    .box-shadow(0 2px 5px @hypnos-shadow-depth-1);
  }
}