header {
  color: @hypnos-invert-color;
  background-color: @hypnos-green;
  
  height: @hypnos-header-height;

  .display(flex);
  .align-items(center);
  .box-shadow(0 2px 5px @hypnos-shadow-depth-1);

  h1 {
    font-size: 1.6rem;
    font-family: monospace;
    padding-left: 1rem;
  }
}

header ~ main {
  margin-top: @hypnos-header-height;
}

.launch.item {
  width: 3rem;
  height: @hypnos-header-height;
  line-height: @hypnos-header-height;
  font-size: 1.5rem;

  color: @hypnos-invert-color;
  background-color: transparent;
  text-align: center;
}