.search {
  height: 30px;
  font-size: 20px;
  background-color:transparent;
  color: #666;
}

.product {
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 5px;
  color: #333;

  .gallery {
    white-space: nowrap;
    overflow: hidden;

    img {
      border: 1px solid #CCC;
      border-radius: 5px;
      margin: 5px;
    }
  }
}