.product {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
          transition: opacity 500ms ease-in-out;

  overflow: scroll;        
  .icon.star.active {
    color: gold;
  }
  table tr > td:first-child {
    width: 7.6em; 
  }
}
.product.visible {
  opacity: 1;
}

.ui.column.product {
  display: none;
}

.gallery {
  white-space: nowrap;
  overflow: scroll;

  img {
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 5px;
  }
}
