.product {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
          transition: opacity 500ms ease-in-out;   

  .favorite.active > .icon {
    color: gold;
  }

  table tr > td:first-child {
    width: 7.6rem; 
    min-width: 7.6rem;
  }
  
  &.visible {
    opacity: 1;
  }
}


.gallery {
  white-space: nowrap;
  overflow: scroll;

  img {
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .ui.stackable.grid > .product.column {
    padding: 1rem !important;
  }
  .product {
    .container {
      overflow-x: scroll;
    }
  }
}
