.resellers {
  .divider {
    margin: 0 0 0 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.reseller {
  padding: 1rem 1rem 1rem 4rem;
  display: block;
  text-decoration: none;
  color: rgb(0,0,0,0.52);
  position: relative;

  &:before {
    font: normal normal normal 2rem 'Material Design Iconic Font';
    position: absolute;
    content: "\f28b";
    color: rgba(0,0,0,0.65);
    speak: none;
    left: .5rem;
    top: 1rem;
  }

  h5 {
    font-weight: bold;
    font-family: anti-serif;
    margin-bottom: 0.1rem;
  }
  address, .gps {
    display: block;
    font-size: .9rem;
    line-height: 1rem;
    color: rgba(0,0,0,0.62);
    overflow: hidden;
    text-overflow: ellipsis;
  }
} 