@hypnos-green: #00954D;
@hypnos-red: #E21C38;
@hypnos-white: rgba(255,255,255,0.8);
@hypnos-background: rgba(255,255,255,0.8);
@hypnos-invert-color: @hypnos-white;

@hypnos-shadow-depth-1: rgba(0,0,0,0.26);
@hypnos-header-height: 2.5rem;
@sidebar-width: 16rem;
