<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        id        = "com.schaeffler.aftermarket"
        version   = "2.0.0">
  <name>舍弗勒产品助手</name>
  <description>
    舍弗勒产品助手是一款实用的汽车零部件应用查询软件，可以帮您轻松找到舍弗勒汽车售后旗下所有乘用车产品及其车型应用信息。
  </description>
  <access origin="*"/>
  <content src="index.html" />
  <preference name="loglevel" value="DEBUG" />

  <feature name="App">
    <param name="android-package" value="org.apache.cordova.App" />
  </feature>
</widget>
