<template name="layout">
<aside class="{{open}}">
  {{> sidebar}}
</aside>
{{> yield "more"}}
<div class="dimmer"></div>

<header>
  {{> header }}
</header>
<main class="{{freeze}}">
  {{> yield}}
</main>

{{#unless connected}}
<div class="notifications">
  <span class="connecting">正在尝试连接到网络...</span>
</div>
{{/unless}}

</template>

<template name="header">
<hgroup>
<h1>{{> mainheader }}</h1>
{{> yield "subheader"}}
</hgroup>
</template>

<template name="mainheader">
{{> yield "navigator"}}
<div class="context">
  {{> yield "title"}}
  <div class="tools">{{> yield "tools"}}</div>
</div>
</template>

<template name="launcher">
<a class="launch item" href="#">
  <i class="md md-menu"></i>
</a>
</template>

<template name="back">
<a class="back item" href="#">
  <i class="md md-arrow-back"></i>
</a>
</template>

<template name="loading">
</template>