<template name="layout">
  <aside class="ui left vertical inverted green labeled icon sidebar menu">
    <a class="item" href="{{pathFor 'home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor 'showProducts'}}">
      <i class="search icon"></i>
      产品搜索
    </a>
    <a class="item" href="{{pathFor 'dealers'}}">
      <i class="shop icon"></i>
      经销商搜索
    </a>
  </aside>

  <div class="pusher">
    <header class="ui inverted green menu">
      <a class="launch item" href="#">
        <i class="content icon"></i>
        SCHAEFFLER
      </a>
    </header>
    {{> yield}}
  </div>
</template>

