<template name="sidebar">
<div class="logo"></div>
<nav class="menu">
  <a href="{{pathFor 'home'}}" class="item button">
    <i class="md md-home"></i>关于我们
  </a>
  <a href="{{pathFor 'products'}}" class="item button">
    <i class="md md-search"></i>产品搜索
  </a>
  <a href="{{pathFor 'resellers'}}" class="item button">
    <i class="md md-shop"></i>经销商搜索
  </a>
  {{#if currentUser}}
    <a href="{{pathFor 'account'}}" class="item button">
      <i class="md md-perm-identity"></i>个人资料
    </a>
  {{else}}
    <a href="{{pathFor 'login'}}" class="item button">
      <i class="md md-perm-identity"></i>登录
    </a>
  {{/if}}
</nav>
<hr class="divider" />
<nav class="menu">
  <a class="item button">
    <i class="md md-settings"></i>配置
  </a>
  <a class="item button">
    <i class="md md-help"></i>帮助
  </a>
</nav>
</template>