<template name="sidebar">
<div class="logo"></div>
<nav class="menu">
  <a href="{{pathFor 'products'}}" class="item">
    <i class="md md-search"></i>产品搜索
  </a>
  <a href="{{pathFor 'resellers'}}" class="item">
    <i class="md md-shop"></i>经销商查询
  </a>
  <a href="{{pathFor 'favorites'}}" class="item">
    <i class="md md-star"></i>我的收藏
  </a>
  <a href="{{pathFor 'orders'}}" class="item">
    <i class="md md-shopping-cart"></i>我的订单
  </a>
  {{> userLink}}
  <a href="{{pathFor 'home'}}" class="item">
    <i class="md md-home"></i>关于我们
  </a>
  <a href="{{pathFor 'brands'}}" class="item">
    <i class="md md-assessment"></i>品牌介绍
  </a>
</nav>
<hr class="divider" />
<nav class="menu">
  <a class="item">
    <i class="md md-settings"></i>配置
  </a>
  <a class="item">
    <i class="md md-help"></i>帮助
  </a>
</nav>
</template>

<template name="userLink">
{{#if currentUser}}
<a href="{{pathFor 'profile'}}" class="item">
  <i class="md md-person"></i>个人资料
</a>
{{/if}}
</template>