
<template name="showProducts">
  <div class="ui search sticky">
    <div class="ui icon input ">
      <input class="prompt" type="text" id="productSearch" value="{{keyword}}" 
      placeholder="输入舍弗勒号或原厂号">
      <i class="search icon"></i>
    </div>
  </div>
  {{> products }}
</template>

<template name="products">
  {{> pages}}
</template>

<template name="product">
{{#linkTo route="productDetail" class="item product"}}
<h3 class="header">{{name}}</h3>
<div class="content">
<span class="name">舍弗勒号:</span> {{sid}} <br>
<span class="name">原厂号:</span> {{oid}} <br>
<span class="name">制造商:</span> {{manufacturer}} <br>
<span class="name">品牌:</span> {{brand}} <br>
<span class="name">引擎:</span> {{engine}} <br>
<span class="name">排量:</span> {{cc}} <br>
</div>
{{/linkTo}}
</template>

<template name="productImages">
{{#if images}}
  <div class="gallery">
  {{#each images}}
    <a href="{{image}}" class="swipebox"><img src="{{thumbnail}}" alt="image"></a>
  {{/each}}
  </div>
{{/if}}
</template>


<template name="productDetail">
{{#linkTo route="showProducts" class="ui link"}}
<i class="left chevron icon"></i>
返回
{{/linkTo}}
{{#Animate}}
<article class="ui segment product animate">
  <h2 class="ui header">
    {{name}}
    <span class="ui label favorite"><i class="icon star"></i>收藏</span>
  </h2>
  <div class="container">
  <table class="ui definition table unstackable">
    <tbody>
      <tr><td>舍弗勒号</td><td>{{sid}}</td></tr>
      <tr><td>原厂号</td><td>{{oid}}</td></tr>
      <tr><td>制造商</td><td>{{manufacturer}}</td></tr>
      <tr><td>品牌</td><td>{{brand}}</td></tr>
      <tr><td>引擎</td><td>{{engine}}</td></tr>
      <tr><td>排量</td><td>{{cc}}</td></tr>
      <tr><td>生产起始年限</td><td>{{start}}</td></tr>
      <tr><td>生产结束年限</td><td>{{end}}</td></tr>
      <tr><td>备注</td><td>{{comment}}</td></tr>
    </tbody>
  </table>
  </div>
  {{> productImages}}
</article>
{{/Animate}}
</template>