
<template name="showProducts">
  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" id="productSearch" value="{{keyword}}" 
      placeholder="输入舍弗勒号或原厂号">
      <i class="search icon"></i>
    </div>
    {{> products }}
  </div>
</template>

<template name="products">
  {{> pages}}
</template>

<template name="product">
<section class="product">
<div class="ui divided selection list">
  <a class="item"><span class="ui horizontal label">制造商</span>{{manufacturer}}</a>
  <a class="item"><span class="ui horizontal label">舍弗勒号</span>{{sid}}</a>
  <a class="item"><span class="ui horizontal label">原厂号</span>{{oid}}</a>
</div>
{{> images}}
</section>
</template>

<template name="images">
{{#if images}}
  <div class="gallery">
  {{#each images}}
    <a href="{{image}}" class="swipebox"><img src="{{thumbnail}}" alt="image"></a>
  {{/each}}
  </div>
{{/if}}
</template>