<template name="products">
{{#contentFor "title"}}产品搜索{{/contentFor}}
{{#contentFor "tools"}}
  {{> productSearchTool}}
{{/contentFor}}
<div class="products container">
{{#each items}}
  {{> productItem}}
{{/each}}
</div>
</template>

<template name="productItem">
<a href="{{pathFor route='product'}}">
  <section class="product brand {{brand}}">
    <h5>{{name}}</h5>
    <p>舍弗勒号:{{sid}}</p>
    <p>原厂号:{{oid}}</p>
  </section>
</a>
</template>

<template name="productSearchTool">
<a class="search item" href="{{pathFor 'productSearch'}}"><i class="md md-search"></i></a>
</template>

