<template name="product">
<article>
  <table class="definition">
    <tbody>
      <tr><td>舍弗勒号</td><td>{{sid}}</td></tr>
      <tr><td>原厂号</td><td>{{oid}}</td></tr>
      <tr><td>制造商</td><td>{{manufacturer}}{{#if alias}} ({{alias}}){{/if}}</td></tr>
      <tr><td>品牌</td><td>{{brand}}</td></tr>
      <tr><td>引擎</td><td>{{engine}}</td></tr>
      <tr><td>排量</td><td>{{cc}}</td></tr>
      <tr><td>起始年限</td><td>{{start}}</td></tr>
      <tr><td>结束年限</td><td>{{end}}</td></tr>
      <tr><td>备注</td><td>{{comment}}</td></tr>
    </tbody>
  </table>
  {{#if images}}
    <div class="gallery">
    {{#each images}}
      <a href="{{image}}"><img src="{{thumbnail}}" alt="image"></a>
    {{/each}}
    </div>
  {{/if}}
</article>

{{#contentFor "title"}}{{name}}{{/contentFor}}
{{#contentFor "navigator"}}{{> back}}{{/contentFor}}
{{#contentFor "tools"}}{{> productTools}}{{/contentFor}}
{{#contentFor "more"}}{{> moreProducts }}{{/contentFor}}
</template>

<template name="moreProducts">
<div class="nav {{more}}">
<ul>
  <li><a class="more" href="#">同车型更多产品</a></li>
  <li><a class="suite" href="#">套装信息</a></li>
</ul>
</div>
</template>

<template name="productTools">
{{#if currentUser}}
<a class="favorite item {{active}}"><i class="md md-star"></i></a>
{{/if}}
<a class="more item"><i class="md md-more-vert"></i></a>
</template>


