<template name="doProductSearch">
  <a class="search item" href="#"><i class="md md-search"></i></a>
</template>

<template name="productSearch">
  {{#contentFor "navigator"}}{{> back}}{{/contentFor}}
  {{#contentFor "title"}}<input type="search" class="product" placeholder="舍弗勒号或原厂号">{{/contentFor}}
  {{#contentFor "tools"}}{{> doProductSearch}}{{/contentFor}}
  {{#contentFor "subheader"}}<h2>选择车型</h2>{{/contentFor}}
  <div class="filters container">
  {{> Template.dynamic template=form }}
  </div>
</template>

<template name="manufacturers">
<ul class="options">
{{#each options}}
  {{> manufacturer}}
{{/each}}
</ul>
</template>

<template name="manufacturer">
  <li>{{name}}</li>
</template>

<template name="aliases">
<ul class="options">
  {{#each options}}
    {{> alias}}
  {{/each}}
</ul>
</template>

<template name="alias">
<li>{{name}}</li>
</template>

<template name="types">
<ul class="options">
  {{#each options}}
    {{> type}}
  {{/each}}
</ul>
</template>

<template name="type">
<li>{{type}} - {{engine}} - {{cc}}</li>
</template>