<template name="doProductSearch">
  <a class="search item" href="#"><i class="md md-search"></i></a>
</template>

<template name="productSearch">
{{#contentFor "navigator"}}{{> back}}{{/contentFor}}
{{#contentFor "title"}}
<input type="search" class="product" placeholder="舍弗勒号或原厂号">
{{/contentFor}}
{{#contentFor "tools"}}{{> doProductSearch}}{{/contentFor}}
<ul class="options">
{{#each this}}
<li><a href="{{ pathFor 'productManufacturer' manufacturer=name}}">{{name}}</a></li>
{{/each}}
</ul>
</template>

<template name="aliases">
{{#contentFor "navigator"}}{{> back}}{{/contentFor}}
{{#contentFor "title"}}请选择生产厂商{{/contentFor}}
<ul class="options">
{{#each this}}
<li><a href="{{ pathFor 'productAlias' manufacturer=manufacturer alias=alias}}">{{alias}}</a></li>
{{/each}}
</ul>
</template>

<template name="types">
{{#contentFor "navigator"}}{{> back}}{{/contentFor}}
{{#contentFor "title"}}请选择车型{{/contentFor}}
<ul class="options">
{{#each this}}
<li><a href="#">{{type}} - {{engine}} - {{cc}}</a></li>
{{/each}}
</ul>
</template>
