<template name="productSearch">
  <div class="ui search">
    <div class="ui icon input ">
      <input class="prompt" type="text" id="productSearch" value="{{keyword}}" 
      placeholder="输入舍弗勒号或原厂号">
      <i class="search icon"></i>
    </div>
    <button class="ui icon button right floated" id="productFilter">
      <i class="icon filter"></i>
    </button>
  </div>

  <div class="ui popup" id="productFilterContent">
    <a class="ui label">FAG</a>
    <a class="ui label">Ruville</a>
    <a class="ui label">LuK</a>
    <a class="ui label">INA</a>
  </div>
</template>