<template name="resellers">
{{#contentFor "title"}}经销商查询{{/contentFor}}
{{#contentFor "tools"}}
<a class="search item" href="{{pathFor 'resellerSearch'}}">
  <i class="md md-search"></i>
</a>
<a class="location item" href="#">
  <i class="md md-my-location"></i>
</a>
{{/contentFor}}
<div class="resellers container">
{{#each items}}
  {{> reseller }}
{{/each}}
</div>
</template>

<template name="reseller">
<a href="{{href}}" target="_blank" class="item reseller"> 
  <h5>{{reseller}}</h5>
  <address>{{address}} (GPS: {{gps}})</address>
</a>
<hr class="divider" />
</template>