<template name="showResellers">
  <div class="ui search">
    <div class="ui icon input ">
      <input class="prompt" type="text" id="resellerSearch" value="{{address}}" 
      placeholder="输入地址或经销商名称">
      <i class="search icon"></i>
    </div>
    <button class="ui icon button" id="useLocation">
      <i class="map marker icon"></i>附近
    </button>
    <div class="ui hidden message" id="currentLocation"></div>
  </div>
  {{> resellers }}
</template>

<template name="resellers">
  {{> pages}}
</template>

<template name="reseller">
<a href="maps:q={{address}}" class="item">
  <i class="icon location arrow"></i>
  <div class="content">
    <h5 class="header">{{reseller}}</h5>
    <p class="address">{{address}}</p>
  </div>
</a>
</template>