<template name="brands">
{{#contentFor "title"}}品牌介绍{{/contentFor}}
<div class="brands container">
<img class="masthead" src="/brand/masthead.png" />
<ul>
{{#each this}}
  {{> brandItem}}
{{/each}}
</ul>
</div>
</template>

<template name="brandItem">
<a href="{{pathFor route='brand'}}">
  <section class="item brand {{brand}}">
    <p>{{description}}</p>
  </section>
</a>
</template>

<template name="brand">
{{#contentFor "navigator"}}{{> back}}{{/contentFor}}
{{#contentFor "title"}}{{name}}{{/contentFor}}
<article class="brand">
  <div class="logo {{brand}}"></div>
  <p>{{description}}</p>
  <ul>
  {{#each products}}
    {{> line}}
  {{/each}}
  </ul>
</article>
</template>

<template name="line">
<li>
  <a href="#{{name}}">{{name}}</a>
  <p id="{{name}}">{{description}}</p>
</li>
</template>