form {
  padding-top: 1rem;
  .display(flex);
  .flex-direction(column);
  &> * {
    margin: 0.5rem 1rem;
  }

  .field {
    .display(flex);
    .align-items(center);
    input {
      .flex(1);
    }
  }
  
  input {
    .appearance(none);
    display: inline-block;
    outline: none;
    border: none;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem 0;
    background-color: transparent;

    &[readonly] {
      color: lightgrey;
    }
  }

  input[type="text"], 
  input[type="password"], 
  input[type="search"],
  input[type="email"],
  input[type="tel"] {
    border-bottom: 1px solid lightgray;
    .transition(border-bottom @hypnos-transition-duration @hypnos-transition-time-function);
    &:focus {
      border-bottom: 2px solid @hypnos-green;
    }
  }

  input[type="reset"], input[type="submit"] {
    padding: 0 1.5rem;
    border-radius: .2rem;
    font-size: .88rem;
    .invert-color();
    .box-shadow(0 2px 5px @hypnos-shadow-depth-1);
  }
}