header {
  .invert-color();
  .box-shadow(0 2px 5px @hypnos-shadow-depth-1);
  .transition(
    height @hypnos-transition-duration @hypnos-transition-time-function,
    line-height @hypnos-transition-duration @hypnos-transition-time-function
  );

  height: @hypnos-header-height;
  line-height: @hypnos-header-height;

  > * {
    height: inherit;
    line-height: inherit;
  }

  .item {
    font-size: 1.5rem;
    text-align: center; 
    display: inline-block;
    min-width: 3rem;

    &.launch, &.back {
      position: absolute;
      // The material-icon font size is a little small
      // adjust to make them align
      margin-left: .2rem;
    }
  }

  .context {
    display: block;
    padding-left: 4rem;

    h1 {
      display: inline-block;
      font-size: 1.2rem;
      clear: both;
    }

    .tools {
      display: inline-block;
      float: right;
    }
  }
}

// .ios header {
//   height: @hypnos-header-height + 1rem;
//   line-height: @hypnos-header-height;
//   padding-top: 1rem;

//   > * {
//     height: @hypnos-header-height;
//     line-height: @hypnos-header-height;
//   }

//   .transition(
//     height @hypnos-transition-duration @hypnos-transition-time-function,
//     line-height @hypnos-transition-duration @hypnos-transition-time-function
//   );

//   + main {
//     top: @hypnos-header-height + 1rem;
//   }
// }