.notifications {
  position: absolute;
  background: rgba(51,51,51, .85);
  bottom: 1rem;
  width: 16rem;
  left: 50%;
  .transform(translate3d(-50%, 0, 0));

  .connecting {
    height: 2.5rem;
    line-height: 2.5rem;
    color: @hypnos-white;
    display: block;
    text-align: center;
  }
}
